---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Mina Lidya | Hakkımızda - Haute Couture & Bridal">
  <main class="main" data-lenis="main">
    <div class="about">
      <!-- ...existing code... -->
    </div>
  </main>
</Layout>
