<footer class="footer" data-color="black">
  <div class="footer__inner">
    <div class="footer__contents" data-column="1">
      <ul class="footer__contents-ul">
        <li class="footer__contents-li">
          <p class="title c-en-text--sm u-book">
            <span>(Navigasyon)</span>
          </p>
          <div class="text c-en-text--md">
            <a href="/" data-hover="line"><span class="line">Ana Sayfa,</span></a>
            <a href="/about-us" data-hover="line"><span class="line">Hakkımızda,</span></a>
            <a href="/showcase/" data-hover="line"><span class="line">Koleksiyon,</span></a>
            <a href="/lookbook/" data-hover="line"><span class="line">Lookbook,</span></a>
            <a href="https://hikaye.minalidya.wedding/" target="_blank" rel="noopener noreferrer" data-hover="line"><span class="line">Story,</span></a>
            <a href="/atelier" data-hover="line"><span class="line">Atölye,</span></a>
            <a href="/contact" data-hover="line"><span class="line">İletişim</span></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer__contents" data-column="2">
      <ul class="footer__contents-ul">
        <li class="footer__contents-li">
          <p class="title c-en-text--sm u-book">
            <span>(Bilgi)</span>
          </p>
          <div class="text c-en-text--md">
            <div>
              <p><span>Couture Studio</span></p>
              <p><span>İnegöl / BURSA</span></p>
            </div>
            <div>
              <p><span>Production Studio</span></p>
              <p><span>Valencia / İSPANYA</span></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer__under" data-split="container">
      <p class="footer__under-en c-head-font" data-split="inner" aria-label="Mina Lidya">
        <span data-split="target">M</span>
        <span data-split="target">i</span>
        <span data-split="target">n</span>
        <span data-split="target">a</span>
        <span data-split="target"> </span>
        <span data-split="target">L</span>
        <span data-split="target">i</span>
        <span data-split="target">d</span>
        <span data-split="target">y</span>
        <span data-split="target">a</span>
      </p>
      <p class="footer__under-ja c-ja-text" data-split="inner">
        <span data-split="target">Zerafetle.</span>
      </p>
    </div>
    <small class="footer__copyright u-en-text--sm u-book"><span>&copy; MINA LIDYA</span></small>
    <button class="footer__backtop u-en-text--xl" aria-label="Yukarı Çık">
      <span>↑</span>
    </button>
  </div>
</footer>
