<button class="mobile-button" aria-label="Menüyü Aç" aria-expanded="false" aria-controls="mobile-menu">
  <span class="mobile-button__line top">
    <span></span>
  </span>
  <span class="mobile-button__line bottom">
    <span></span>
  </span>
</button>
<div id="mobile-menu" class="mobile-menu" aria-label="Navigasyon">
  <div class="mobile-menu__group">
    <p class="mobile-menu__title c-en-text--sm u-book">
      <span>(Menü)</span>
    </p>
    <ul class="mobile-menu__ul">
      <li class="mobile-menu__li">
        <a href="/">
          <span class="name">Ana Sayfa</span>
        </a>
      </li>
      <li class="mobile-menu__li">
        <a href="/about-us">
          <span class="name">Hakkımızda</span>
        </a>
      </li>
      <li class="mobile-menu__li">
        <a href="/showcase/">
          <span class="name">Koleksiyon</span>
        </a>
      </li>
      <li class="mobile-menu__li">
        <a href="/lookbook/" data-no-swup>
          <span class="name">Lookbook</span>
        </a>
      </li>
      <li class="mobile-menu__li">
        <a href="https://hikaye.minalidya.wedding/" target="_blank" rel="noopener noreferrer">
          <span class="name">Story</span>
        </a>
      </li>
      <li class="mobile-menu__li">
        <a href="/atelier">
          <span class="name">Atölye</span>
        </a>
      </li>
      <li class="mobile-menu__li">
        <a href="/contact">
          <span class="name">İletişim</span>
        </a>
      </li>
    </ul>
  </div>
</div>
