---
// Preloader.astro - Custom Mina Lidya Loader
---

<div id="ml-preloader" class="ml-preloader">
  <div class="ml-preloader__inner">
    <div class="ml-preloader__word">
      <span class="ml-char" style="--i:0">M</span>
      <span class="ml-char" style="--i:1">i</span>
      <span class="ml-char" style="--i:2">n</span>
      <span class="ml-char" style="--i:3">a</span>
      <span class="ml-char ml-char--space" style="--i:4"> </span>
      <span class="ml-char" style="--i:5">L</span>
      <span class="ml-char" style="--i:6">i</span>
      <span class="ml-char" style="--i:7">d</span>
      <span class="ml-char" style="--i:8">y</span>
      <span class="ml-char" style="--i:9">a</span>
    </div>
    <div class="ml-preloader__line">
      <div class="ml-preloader__line-inner"></div>
    </div>
    <p class="ml-preloader__sub">Elite Couture</p>
  </div>
</div>
<!-- ...style and script omitted for brevity... -->
